
     
    </div><!-- /.navbar-collapse -->
<div class="bg-main bottom">
  <div class="text-center" style="  padding: 90px;">
<h3 style="margin: 0;color: #fff;">
  Testtatataa asfasf
</h3>
<p>tete tetet ete tete tet</p>
<div class="sub"><a href="/categories">Sablonlara bax</a></div>
</div>
</div>
<div class="tt">
<div class="container" style="margin-top:20px;margin-bottom: 20px;">
<div class="col-md-8 col-md-offset-2" >
<div class="col-md-6" id="service">
<i class="fa fa-code" aria-hidden="true" style="font-size: 32px"></i>
<h3>Sayt</h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
</div>
<div class="col-md-6" id="service">
<i class="fa fa-magic" aria-hidden="true" style="font-size: 32px"></i>
<h3>Dizayn</h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
</div>
</div>
</div>
</div>
<div  style="background: #f6f6f6;">
<div class="container">
<div class="col-md-12" style="padding-top:30px;padding-bottom: 30px;">
  <div class="text-center">
    <h2>Hazir saytlar</h2>
 <p>son elave olunan</p>
  </div>
<div class="row">
  <% @temps.each do |temp| %>
  <div class="col-xs-6 col-md-3" id="main_temp">
    <a href="#" class="thumbnail">
      <img src="<%= temp.image %>" alt="...">
    </a>
      <li class="main_temp">
        <%= temp.name %>
      </li>
      <li class="main_temp" id="main_sample">
        <a href="<%= template_path(temp.id) %>" > Numune bax </a>
      </li>
  </div>
  <% end %>
  
</div>

</div>
</div>
</div>
</div>


