<div class="bg-main bottom"><h2 class="text-center" style="margin:0;padding: 100px;color: #fff">Biz ne ishnen meshquluq </h2></div>
<div class="container" style="margin-top:20px;margin-bottom: 20px;">
<div class="col-md-8 col-md-offset-2" >
<div class="col-md-6" id="service">
<i class="fa fa-code" aria-hidden="true" style="font-size: 32px"></i>
<h3>Sayt</h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
</div>
<div class="col-md-6" id="service">
<i class="fa fa-magic" aria-hidden="true" style="font-size: 32px"></i>
<h3>Dizayn</h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
</div>
</div>
</div>
</div>
</div>